Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.(html|json)$
        args: ["--check"]

update README
  README.md
Due: none

update requirements
  README.md
Due: none

wording
  README.md
Due: none

Updated readme
  .env.example.cjs
  .gitignore
  README.md
Due: none

Update README.md
  README.md
Due: none

updates
  .env.example.cjs
  README.md
Due: none

Updated readme (#71)
  .env.example.cjs
  .gitignore
  README.md
Due: none

handle leftover files from previous runs in the same shell executor
  src/gitlab.ts
Due: eslint

handle leftover files from previous runs in the same shell executor (#78)
  src/gitlab.ts
Due: eslint

pin to node 16
  .github/dependabot.yml
  package.json
  yarn.lock
Due: prettier

pin to node 16 (#80)
  .github/dependabot.yml
  package.json
  yarn.lock
Due: prettier

$PIPELINE_SCRIPTS_DIR
  src/gitlab.ts
Due: eslint

more information for bench-bot
  README.md
  src/api.ts
  src/bot.ts
  src/gitlab.ts
  src/types.ts
Due: eslint

add bench-bot debugging configuration
  src/core.ts
Due: eslint

bump job timeout
  src/gitlab.ts
Due: eslint

fix CVE
  package.json
  yarn.lock
Due: prettier

fix CVE (#89)
  package.json
  yarn.lock
Due: prettier

move try-runtime-bot's hardcoded configuration to pipeline scripts
  src/core.ts
Due: eslint

add .sh suffix
  src/core.ts
Due: eslint

Move try-runtime-bot's hardcoded configuration to pipeline scripts (#91)
  src/core.ts
Due: eslint

add fmt command
  src/core.ts
Due: eslint

fix eslint
  src/core.ts
Due: eslint

Codestyle update
  .eslintrc.cjs
  .prettierrc
  .prettierrc.cjs
  loader.cjs
  package.json
  src/api.ts
  src/bot.ts
  src/core.ts
  src/db.ts
  src/github.ts
  src/gitlab.ts
  src/logger.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
  src/utils.ts
  yarn.lock
Due: eslint, prettier

Integration tests: first suite
  .gitignore
  integration.jest.config.cjs
  package.json
  src/core.ts
  src/github.ts
  src/gitlab.ts
  src/global.d.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/types.ts
  test/fixtures.ts
  test/fixtures/github/appInstallationToken.ts
  test/fixtures/github/commentWebhook.ts
  test/fixtures/github/issueComments.ts
  test/fixtures/github/pullRequest.ts
  test/fixtures/gitlab/branches.ts
  test/fixtures/gitlab/job.ts
  test/fixtures/gitlab/pipeline.ts
  test/github-positive-scenario.spec.ts
  test/helpers.ts
  test/setup/bot.ts
  test/setup/gitDaemons.ts
  test/setup/integration.setupAfterEnv.ts
  test/setup/mockServers.ts
  test/setup/util.ts
  test/testing-app.txt
  tsconfig.json
  unit.jest.config.cjs
  yarn.lock
Due: eslint, prettier

Moved "until" helper to opstooling-js
  test/github-positive-scenario.spec.ts
  test/helpers.ts
Due: eslint

Cancellation and failure tests
  test/fixtures.ts
  test/github-job-cancellation.spec.ts
  test/github-job-failure.spec.ts
  test/helpers.ts
Due: eslint

add more tests + allow some commands to run without arguments + some refactoring
  .gitignore
  .gitlab-ci.yml
  jest.integration.config.cjs
  jest.unit.config.cjs
  package.json
  src/api.ts
  src/bot.spec.ts
  src/bot.ts
  src/core.ts
  src/github.ts
  src/gitlab.ts
  src/logger.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
  src/utils.ts
  test/fixtures.ts
  test/fixtures/github/commentWebhook.ts
  test/fixtures/github/pullRequest.ts
  test/github-job-cancellation.spec.ts
  test/github-positive-scenario.spec.ts
  test/helpers.ts
  tsconfig.json
  unit.jest.config.cjs
  yarn.lock
Due: eslint, prettier

fix lint
  package.json
  src/bot.spec.ts
  src/github.ts
  src/shell.ts
  src/types.ts
  test/helpers.ts
  yarn.lock
Due: eslint, prettier

fix timers on linux https://github.com/facebook/jest/issues/11607
  src/bot.spec.ts
Due: eslint

Update jest.unit.config.cjs
  jest.unit.config.cjs
Due: none

add shfmt as dependency to CI
  .env.example.cjs
  .gitlab-ci.yml
  jest.unit.config.cjs
  src/bot.spec.ts
Due: eslint

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none
