Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

update README.md
  README.md
Due: none

node addresses already include the prefix
  env/bot.example.js
  src/webhook.ts
Due: eslint

refine error detection
  src/executor.ts
Due: eslint

add docs for websocket addresses
  README.md
  src/main.ts
Due: eslint

use nightly toolchain
  .gitlab-ci.yml
  scripts/generateDockerfile
  src/webhook.ts
Due: eslint

display command progress while executing
  src/executor.ts
  src/logger.ts
Due: eslint

opt into output tracking
  src/executor.ts
Due: eslint

disable quiet at the moment for debugging's sake
  src/webhook.ts
Due: eslint

use latest stable toolchain
  scripts/generateDockerfile
  src/webhook.ts
Due: eslint

introduce CLEAR_DB_ON_START for debuggin purposes
  .gitlab-ci.yml
  src/main.ts
Due: eslint

also track stderr
  src/executor.ts
Due: eslint

DRY stream handler
  src/executor.ts
Due: eslint

add the --quiet flag back
  src/webhook.ts
Due: eslint

update README for try-runtime CLI changes
  README.md
  env/bot.example.js
Due: eslint

rework DB_PATH as DATA_PATH
  .gitignore
  .gitlab-ci.yml
  README.md
  env/bot.example.js
  helm/README.md
  src/constants.ts
  src/main.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

provide more context in the comment before starting a command
  .gitlab-ci.yml
  src/executor.ts
  src/main.ts
  src/types.ts
  src/webhook.ts
Due: eslint

pass state around explicitly
  src/executor.ts
  src/types.ts
  src/webhook.ts
Due: eslint

update example command
  README.md
Due: none

fixup code
  src/main.ts
  src/webhook.ts
Due: eslint

fixup readme
  README.md
Due: none

only log child termination when it actually it killed
  src/executor.ts
Due: eslint

report OOM kill errors
  src/executor.ts
  src/logger.ts
Due: eslint

increase container resources
  helm/values.yaml
Due: none

revert isError
  src/executor.ts
Due: eslint

fix error formatting
  src/utils.ts
Due: eslint

introduce CLEAR_REPOSITORIES_ON_START for debugging purposes
  .gitlab-ci.yml
  src/main.ts
  src/utils.ts
Due: eslint

log before posting a pull request's result
  src/logger.ts
  src/main.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

add more deps to the dockerfile
  helm/values.yaml
  scripts/generateDockerfile
Due: none

wip
  helm/values.yaml
Due: none

when results are ready, post a new comment instead of updating the ack comment
  src/utils.ts
  src/webhook.ts
Due: eslint

document resource usage
  helm/values.yaml
Due: none

tweak deployment
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

change log level
  src/webhook.ts
Due: eslint

use toString for formatting errors
  src/executor.ts
Due: eslint

set TMPDIR to DATA_PATH on deployment
  .gitlab-ci.yml
  src/main.ts
Due: eslint

warn about command truncation
  src/constants.ts
  src/executor.ts
  src/main.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

have ping server for Kubernetes
  .gitlab-ci.yml
  helm/templates/deployment.yaml
  package.json
  src/main.ts
  yarn.lock
Due: eslint, prettier

resolve stderr if the comand has no stdout
  src/executor.ts
  src/main.ts
Due: eslint

redact secrets before finishing for sanity's sake
  src/executor.ts
Due: eslint

recover from compilation errors
  src/executor.ts
  src/utils.ts
Due: eslint

Path conditions:
  eslint: any of: \.(t|j)s$
  prettier: any of: \.(html|json)$
