Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.(html|json)$
        args: ["--check"]

remove rimraf & update ignore cmd test as Yuri suggested
  package.json
  test/github-ignore-comands.spec.ts
  yarn.lock
Due: eslint, prettier

Update README.md
  README.md
Due: none

Mak/deprecate cmd add help (#154)
  .env.example.cjs
  .env.unit-tests.cjs
  .gitignore
  README.md
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  package.json
  src/bot.ts
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/ParsedCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/parse/parseVariables.ts
  src/bot/parsePullRequestBotCommandLine.spec.ts
  src/bot/parsePullRequestBotCommandLine.ts
  src/bot/setupEvent.ts
  src/bot/types.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/cloneCommandBotScripts.ts
  src/command-configs/collectCommandConfigs.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/command-configs/getScriptsRepoRevision.ts
  src/command-configs/renderHelpPage.pug
  src/command-configs/renderHelpPage.ts
  src/command-configs/types.ts
  src/commands.ts
  src/config.ts
  src/gitlab/createCiConfig.spec.ts
  src/schema/schema.cmd.json
  src/setup.ts
  src/types.ts
  test/fixtures.ts
  test/github-ignore-comands.spec.ts
  test/github-job-cancellation.spec.ts
  test/github-job-failure.spec.ts
  test/github-non-pipeline-cases.spec.ts
  test/github-positive-scenario.spec.ts
  test/setup/bot.ts
  test/setup/mockServers.ts
  yarn.lock
Due: eslint, prettier

Fix for debug logs + make help clearer
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/setupEvent.ts
  src/bot/types.ts
  test/github-ignore-comands.spec.ts
  test/helpers.ts
  yarn-error.log
Due: eslint

fix 404 docs after redeployment
  .gitignore
  src/command-configs/fetchCommandsConfiguration.ts
  src/setup.ts
Due: eslint

Delete yarn-error.log
  yarn-error.log
Due: none

Update .gitignore
  .gitignore
Due: none

fix debug logs & 404 on docs after new deploy (#156)
  .gitignore
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/setupEvent.ts
  src/bot/types.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/setup.ts
  test/github-ignore-comands.spec.ts
  test/helpers.ts
Due: eslint

add clean command
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/ParsedCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/setupEvent.ts
  src/bot/types.ts
  src/command-configs/renderHelpPage.pug
  src/command-configs/renderHelpPage.ts
  src/github.ts
  src/types.ts
  test/github-non-pipeline-cases.spec.ts
Due: eslint

fix lint
  src/command-configs/renderHelpPage.ts
Due: eslint

fix typo
  src/bot/events/onIssueCommentCreated.ts
  src/bot/types.ts
Due: eslint

fix typo2
  src/bot/events/onIssueCommentCreated.ts
  src/bot/types.ts
Due: eslint

add clean command (#157)
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/ParsedCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/setupEvent.ts
  src/bot/types.ts
  src/command-configs/renderHelpPage.pug
  src/command-configs/renderHelpPage.ts
  src/github.ts
  src/types.ts
  test/github-non-pipeline-cases.spec.ts
Due: eslint

just lint fix
  .eslintrc.cjs
  jest.integration.config.cjs
  jest.unit.config.cjs
  loader.cjs
  package.json
  src/__mocks__/db.ts
  src/api.ts
  src/bot.ts
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/ParsedCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/parse/parseVariables.ts
  src/bot/setupEvent.ts
  src/bot/types.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/cloneCommandBotScripts.ts
  src/command-configs/collectCommandConfigs.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/command-configs/getScriptsRepoRevision.ts
  src/command-configs/renderHelpPage.ts
  src/command-configs/types.ts
  src/config.ts
  src/core.ts
  src/db.ts
  src/github.ts
  src/gitlab.ts
  src/gitlab/createCiConfig.spec.ts
  src/gitlab/createCiConfig.ts
  src/global.d.ts
  src/logger.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
  src/utils.ts
  yarn.lock
Due: eslint, prettier

fix
  package.json
  yarn.lock
Due: prettier

fix tests folder + its lint
  .gitignore
  jest.integration.config.cjs
  jest.unit.config.cjs
  nodemon.json
  src/test/fixtures.ts
  src/test/fixtures/github/appInstallationToken.ts
  src/test/fixtures/github/commentWebhook.ts
  src/test/fixtures/github/issueComments.ts
  src/test/fixtures/github/pullRequest.ts
  src/test/fixtures/gitlab/branches.ts
  src/test/fixtures/gitlab/job.ts
  src/test/fixtures/gitlab/pipeline.ts
  src/test/github-ignore-comands.spec.ts
  src/test/github-job-cancellation.spec.ts
  src/test/github-job-failure.spec.ts
  src/test/github-non-pipeline-cases.spec.ts
  src/test/github-positive-scenario.spec.ts
  src/test/helpers.ts
  src/test/setup/bot.ts
  src/test/setup/gitDaemons.ts
  src/test/setup/integration.setupAfterEnv.ts
  src/test/setup/mockServers.ts
  src/test/setup/util.ts
  src/test/testing-app.txt
  test/github-ignore-comands.spec.ts
  test/setup/bot.ts
  test/setup/gitDaemons.ts
  test/setup/integration.setupAfterEnv.ts
  test/setup/mockServers.ts
Due: eslint, prettier

ci: created github-issue-sync workflow file
  .github/workflows/github-issue-sync.yml
  README.md
Due: none

ci: created github-issue-sync workflow file (#161)
  .github/workflows/github-issue-sync.yml
  README.md
Due: none

add "excluded" to schema + add help/clean to docs
  deploy-stg.sh
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/command-configs/renderHelpPage.ts
  src/schema/schema.cmd.json
Due: eslint, prettier

Update parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
Due: eslint

add artifacts
  .gitlab-ci.yml
Due: none

Update integration.setupAfterEnv.ts
  src/test/setup/integration.setupAfterEnv.ts
Due: eslint

move artifacts
  .gitlab-ci.yml
Due: none

Update bot.ts
  src/test/setup/bot.ts
Due: eslint

Update github-issue-sync.yml
  .github/workflows/github-issue-sync.yml
Due: none

Update github-issue-sync.yml (#165)
  .github/workflows/github-issue-sync.yml
Due: none

improve docs to show presets without args + fix broken help links, after server restart
  src/command-configs/renderHelpPage.pug
  src/command-configs/renderHelpPage.ts
  src/schema/schema.cmd.json
  src/test/setup/bot.ts
Due: eslint, prettier

Added more logging + increased delay after creating a fresh branch
  src/gitlab.ts
  src/utils.ts
Due: eslint

Fix integration tests + fix log message
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/setupEvent.ts
  src/test/github-non-pipeline-cases.spec.ts
Due: eslint

Update github-ignore-comands.spec.ts
  src/test/github-ignore-comands.spec.ts
Due: eslint

add "excluded" to schema + add help/clean to docs (#162)
  .gitlab-ci.yml
  deploy-stg.sh
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/setupEvent.ts
  src/command-configs/renderHelpPage.pug
  src/command-configs/renderHelpPage.ts
  src/schema/schema.cmd.json
  src/test/github-ignore-comands.spec.ts
  src/test/github-non-pipeline-cases.spec.ts
  src/test/setup/bot.ts
  src/test/setup/integration.setupAfterEnv.ts
Due: eslint, prettier

Remove double logging
  src/gitlab.ts
  src/task.ts
  src/utils.ts
Due: eslint

increased interval for tests
  src/test/github-job-cancellation.spec.ts
Due: eslint

Added more logging + increased delay after creating a fresh branch (#168)
  src/gitlab.ts
  src/task.ts
  src/test/github-job-cancellation.spec.ts
  src/utils.ts
Due: eslint

enhanced args validation making it optional per preset
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/isOptionalArgsCommand.spec.ts
  src/bot/parse/isOptionalArgsCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
Due: eslint

improve thrown error handling
  src/bot/parse/isOptionalArgsCommand.spec.ts
  src/bot/parse/isOptionalArgsCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
Due: eslint

Update src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
Due: eslint

Add CI job to publish docker image description to hub.docker.com
  .gitlab-ci.yml
  Dockerfile.README.md
Due: none

Update github-non-pipeline-cases.spec.ts
  src/test/github-non-pipeline-cases.spec.ts
Due: eslint
