Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

proper TASK_DB_VERSION
  .gitlab-ci.yml
  src/db.ts
  src/main.ts
  src/setup.ts
  src/task.ts
Due: eslint

log something after connecting to Matrix
  src/setup.ts
Due: eslint

revert env override order
  src/bot.ts
Due: eslint

upgrade tsc-files
  package.json
  yarn.lock
Due: prettier

clean up getShellCommandExecutor API
  src/shell.ts
  src/task.ts
Due: eslint

db-version to task-db-version
  src/main.ts
Due: eslint

Miscellaneous improvements (#55)
  .gitlab-ci.yml
  env.example.cjs
  package.json
  src/api.ts
  src/bot.ts
  src/db.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier

more fixes
  env.example.cjs
  src/bot.ts
  src/main.ts
Due: eslint

allow tasks to be executed simultaneously
  src/task.ts
Due: eslint

add WASM_BUILD_WORKSPACE_HINT
  src/task.ts
Due: eslint

bump probot logging to error
  src/main.ts
Due: eslint

fix log message
  src/task.ts
Due: eslint

reintroduce taskQueueMutex
  src/task.ts
Due: eslint

add logging message for process finish
  src/shell.ts
Due: eslint

fix default for POST_COMMENT
  src/main.ts
Due: eslint

fix event logger nesting
  src/bot.ts
Due: eslint

also show signal on process exit
  src/shell.ts
Due: eslint

nest task into logger context
  src/task.ts
Due: eslint

install eager process.on(close) listener
  src/shell.ts
Due: eslint

handle process termination signals as errors
  src/shell.ts
Due: eslint

More improvement attempts (#56)
  src/bot.ts
  src/main.ts
  src/shell.ts
  src/task.ts
Due: eslint

fix shell executor
  src/shell.ts
Due: eslint

refactor as command-bot
  .env.example.cjs
  .gitignore
  package.json
  src/api.ts
  src/bot.ts
  src/core.ts
  src/github.ts
  src/gitlab.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
  src/utils.ts
  yarn.lock
Due: eslint, prettier

update CI/Helm variables
  .gitlab-ci.yml
  helm/values.yaml
Due: none

fix CLI parsing
  src/bot.ts
Due: eslint

update docs
  README.md
Due: none

$ARTIFACTS_DIR
  README.md
  src/gitlab.ts
Due: eslint

lock repository-related operations in a Mutex
  src/gitlab.ts
  src/task.ts
Due: eslint

improve docs
  .env.example.cjs
Due: none

improve docs
  README.md
Due: none

bump TASK_DB_VERSION
  .gitlab-ci.yml
Due: none

rm useless variable
  .gitlab-ci.yml
Due: none

improve task delete API UX
  src/api.ts
  src/task.ts
Due: eslint

more gitlab variables
  src/gitlab.ts
Due: eslint

cleanup setup
  src/main.ts
  src/setup.ts
  src/types.ts
Due: eslint

set global git config in Dockerfile
  scripts/generateDockerfile
Due: none

wrap the command result in a code block
  src/github.ts
Due: eslint

dot
  src/task.ts
Due: eslint

wording
  src/task.ts
Due: eslint

Path conditions:
  eslint: any of: \.(t|j)s$
  prettier: any of: \.(html|json)$
