Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

implement devops requests
  .env.example.cjs
  README.md
  helm/values.yaml
  scripts/generateDockerfile
  src/api.ts
  src/bot.ts
  src/core.ts
  src/gitlab.ts
  src/main.ts
  src/shell.ts
  src/task.ts
  src/types.ts
Due: eslint

rm rust, add shfmt
  scripts/generateDockerfile
Due: none

fix fs APIs usage
  src/gitlab.ts
  src/main.ts
  src/shell.ts
Due: eslint

spread gitlab job properties
  src/bot.ts
Due: eslint

have configuration closer to args
  README.md
Due: none

todo
  src/core.ts
Due: eslint

fix dockerfile
  scripts/generateDockerfile
Due: none

rm unused variables
  scripts/generateDockerfile
Due: none

quote $PIPELINE_SCRIPTS_DIR for shell execution
  src/core.ts
Due: eslint

rm outdated comment
  src/core.ts
Due: eslint

parse bot arguments with yargs
  package.json
  src/bot.ts
  src/shell.ts
  src/utils.ts
  yarn.lock
Due: eslint, prettier

allow tasks to be cancelled individually
  src/bot.ts
  src/task.ts
Due: eslint

add flag for showing top-level object values
  src/logger.ts
  src/utils.ts
Due: eslint

log database tasks at the start of the application
  src/setup.ts
Due: eslint

improve shfmt handling
  scripts/generateDockerfile
Due: none

clarify on -v/--var being optional
  README.md
Due: none

fix docs
  README.md
Due: none

fix queue api payload handling
  src/api.ts
Due: eslint

fix API docs
  README.md
Due: none

make shouldTrackProgress optional
  src/core.ts
  src/shell.ts
Due: eslint

print task-related information at job start
  src/gitlab.ts
Due: eslint

add default variables for try-runtime
  src/api.ts
  src/bot.ts
  src/core.ts
Due: eslint

improve docs
  README.md
Due: none

command-bot (#57)
  .env.example.cjs
  .gitignore
  .gitlab-ci.yml
  README.md
  helm/values.yaml
  package.json
  scripts/generateDockerfile
  src/api.ts
  src/bot.ts
  src/core.ts
  src/github.ts
  src/gitlab.ts
  src/logger.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
  src/utils.ts
  yarn.lock
Due: eslint, prettier

update docs
  README.md
Due: none

save info on pr's contributor and upstream
  .gitlab-ci.yml
  README.md
  src/api.ts
  src/bot.ts
  src/core.ts
  src/github.ts
  src/gitlab.ts
  src/task.ts
  src/types.ts
Due: eslint

update CI tag for bench-bot command
  src/core.ts
Due: eslint

more logging
  src/gitlab.ts
Due: eslint

save info on pr's contributor and upstream (#64)
  .gitlab-ci.yml
  README.md
  src/api.ts
  src/bot.ts
  src/core.ts
  src/github.ts
  src/gitlab.ts
  src/task.ts
  src/types.ts
Due: eslint

wait until the task's branch is registered on gitlab
  src/gitlab.ts
Due: eslint

introduce "sample" configuration for debugging aid
  src/core.ts
Due: eslint

fix logging
  src/gitlab.ts
Due: eslint

method: GET is the default
  src/gitlab.ts
Due: eslint

add CODEOWNERS
  CODEOWNERS
Due: none

rm debug logging
  src/gitlab.ts
Due: eslint

extract repetition into constants
  src/gitlab.ts
Due: eslint

more variable reuse
  src/gitlab.ts
Due: eslint

Wait until the branch is registered on GitLab before creating the pipeline (#67)
  src/core.ts
  src/gitlab.ts
Due: eslint

Path conditions:
  eslint: any of: \.(t|j)s$
  prettier: any of: \.(html|json)$
