Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

Fix vault role
  .gitlab-ci.yml
Due: none

make scripts branch to be required
  src/command-configs/cloneCommandBotScripts.ts
  src/command-configs/getScriptsRepoRevision.ts
  src/config.ts
  src/types.ts
Due: eslint

fix #160
  src/bot/events/onIssueCommentCreated.ts
Due: eslint

Improve docs, fix #160, make ref required
  helm/values.yaml
  nodemon.json
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/command-configs/cloneCommandBotScripts.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/command-configs/getScriptsRepoRevision.ts
  src/command-configs/renderHelpPage.pug
  src/command-configs/renderHelpPage.ts
  src/config.ts
  src/schema/schema.cmd.json
  src/types.ts
Due: eslint, prettier

commander ...67%
  package.json
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/commander/commander.ts
  yarn.lock
Due: eslint, prettier

main functionality of named args with unit tests done
  src/bot/parse/guessCommand.spec.ts
  src/bot/parse/guessCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/commander/commander.ts
  src/commander/fetchConfigsCommander.ts
  src/commander/getVariablesOption.ts
  src/commander/parseCommand.ts
  src/setup.ts
Due: eslint

improve guess
  src/bot/parse/guessCommand.spec.ts
  src/bot/parse/guessCommand.ts
Due: eslint

update comment
  src/bot/parse/guessCommand.ts
Due: eslint

reduce default arguments for recommendation
  src/bot/parse/guessCommand.spec.ts
  src/bot/parse/guessCommand.ts
Due: eslint

Update parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
Due: eslint

improve tests, migration recommendation, and docs
  src/bot/parse/guessCommand.spec.ts
  src/bot/parse/guessCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/command-configs/renderHelpPage.pug
  src/commander/commander.ts
Due: eslint

update mocks; update tests; improve docs
  src/bot/parse/guessCommand.spec.ts
  src/bot/parse/guessCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/command-configs/renderHelpPage.pug
  src/test/github-non-pipeline-cases.spec.ts
Due: eslint

Node.js upgrade
  Dockerfile
  package.json
  src/test/github-non-pipeline-cases.spec.ts
  yarn.lock
Due: eslint, prettier

Node.js upgrade (#212)
  Dockerfile
  package.json
  src/test/github-non-pipeline-cases.spec.ts
  yarn.lock
Due: eslint, prettier

make the bot starter word different up to env
  .env.example.cjs
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  src/bot.ts
  src/bot/parse/guessCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/command-configs/renderHelpPage.pug
  src/command-configs/renderHelpPage.ts
  src/commander/commander.ts
  src/commander/fetchConfigsCommander.ts
  src/config.ts
  src/task.ts
  src/test/setup/bot.ts
Due: eslint

fix integration tests + couple of found bugs thanks for tests
  helm/values-parity-stg.yaml
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/setupEvent.ts
  src/commander/commander.ts
  src/commander/fetchConfigsCommander.ts
  src/metrics.ts
  src/test/fixtures.ts
  src/test/github-ignore-comands.spec.ts
  src/test/github-job-cancellation.spec.ts
  src/test/github-job-failure.spec.ts
  src/test/github-non-pipeline-cases.spec.ts
  src/test/github-positive-scenario.spec.ts
  src/test/setup/bot.ts
Due: eslint

removed commented code
  src/command-configs/renderHelpPage.pug
Due: none

Update src/bot/parse/guessCommand.ts
  src/bot/parse/guessCommand.ts
Due: eslint

Update src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
Due: eslint

follwups
  nodemon.json
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/help/main.pug
  src/command-configs/help/parts/commands.pug
  src/command-configs/help/parts/commands_preset.pug
  src/command-configs/help/parts/hero.pug
  src/command-configs/help/parts/navigation.pug
  src/command-configs/help/parts/scripts.pug
  src/command-configs/help/parts/styles.pug
  src/command-configs/renderHelpPage.pug
  src/command-configs/renderHelpPage.ts
  src/commander/commander.ts
  src/commander/parseCommand.ts
Due: eslint, prettier

Update values-parity-stg.yaml
  helm/values-parity-stg.yaml
Due: none

Update hero.pug
  src/command-configs/help/parts/hero.pug
Due: none

Update values-parity-stg.yaml (#213)
  helm/values-parity-stg.yaml
  src/command-configs/help/parts/hero.pug
Due: none

Update README.md
  README.md
Due: none

tiny text fix
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
Due: eslint

tiny text fix (#216)
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
Due: eslint

make Command's job CI image configurable
  README.md
  src/api.ts
  src/bot/events/onIssueCommentCreated.ts
  src/command-configs/help/parts/commands.pug
  src/command-configs/help/parts/navigation.pug
  src/main.ts
  src/schema/schema.cmd.json
  src/setup.ts
  src/types.ts
Due: eslint, prettier

update job image for prod/stage
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

stop reading cmd configs for image
  src/bot/events/onIssueCommentCreated.ts
  src/schema/schema.cmd.json
Due: eslint, prettier

make Command's job CI image configurable (#217)
  README.md
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  src/api.ts
  src/bot/events/onIssueCommentCreated.ts
  src/command-configs/help/parts/commands.pug
  src/command-configs/help/parts/navigation.pug
  src/main.ts
  src/setup.ts
  src/types.ts
Due: eslint

Use badges/labels for repos
  src/command-configs/help/parts/commands_preset.pug
Due: none

Cosmetic change of the help page
  src/command-configs/help/parts/hero.pug
  src/command-configs/renderHelpPage.ts
Due: eslint

Update README.md (#214)
  README.md
Due: none

Use badges/labels for repos (#219)
  src/command-configs/help/parts/commands_preset.pug
Due: none

Cosmetic change of the help page (#218)
  src/command-configs/help/parts/hero.pug
  src/command-configs/renderHelpPage.ts
Due: eslint

Update values-parity-prod.yaml
  helm/values-parity-prod.yaml
Due: none

Update values-parity-prod.yaml (#222)
  helm/values-parity-prod.yaml
Due: none

split handlers by files
  src/bot/events/handlers/EventHandler.ts
  src/bot/events/handlers/cancelHandler.ts
  src/bot/events/handlers/cleanHandler.ts
  src/bot/events/handlers/genericHandler.ts
  src/bot/events/handlers/helpHandler.ts
  src/bot/events/handlers/skipHandler.ts
  src/bot/events/onIssueCommentCreated.ts
  src/bot/types.ts
Due: eslint

Path conditions:
  eslint: any of: \.(t|j)s$
  prettier: any of: \.(html|json)$
