Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.(html|json)$
        args: ["--check"]

enable jobs back
  .gitlab-ci.yml
Due: none

moved from hardcode commands config to a remote configs coming from scripts
  .env.example.cjs
  .gitignore
  jest.unit.config.cjs
  loader.cjs
  nodemon.json
  package.json
  src/__mocks__/commands.ts
  src/api.ts
  src/bot.spec.ts
  src/bot.ts
  src/commands.ts
  src/config.ts
  src/core.ts
  src/github.ts
  src/gitlab.spec.ts
  src/gitlab.ts
  src/logger.ts
  src/main.ts
  src/schema/schema.cmd.json
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
  src/utils.ts
  yarn.lock
Due: eslint, prettier

Moved command config implementation to scripts repo
  .gitignore
  Dockerfile
  README.md
  jest.integration.config.cjs
  jest.unit.config.cjs
  loader.cjs
  nodemon.json
  package.json
  src/__mocks__/commands.ts
  src/bot.spec.ts
  src/bot.ts
  src/commands.ts
  src/config.ts
  src/core.ts
  src/shell.ts
  test/fixtures.ts
  test/github-job-cancellation.spec.ts
  test/github-job-failure.spec.ts
  test/github-positive-scenario.spec.ts
  test/setup/bot.ts
  test/setup/mockServers.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier

fix await/async
  src/config.ts
Due: eslint

update stg scripts repos
  helm-stg/values-parity-stg.yaml
Due: none

Update values-parity-stg.yaml
  helm-stg/values-parity-stg.yaml
Due: none

fix schema & mock a bit
  src/__mocks__/commands.ts
  src/schema/schema.cmd.json
Due: eslint, prettier

Update package.json
  package.json
Due: prettier

change the env file for unit tests
  .env.unit-tests.cjs
  .gitlab-ci.yml
  jest.unit.config.cjs
Due: none

prettier, lint, unit tests fix
  .env.unit-tests.cjs
  .github/dependabot.yml
  .gitignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  README.md
  helm-stg/Chart.yaml
  helm/README.md
  src/config.ts
  src/schema/schema.cmd.json
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/utils.ts
Due: eslint, prettier

fix style
  .gitlab-ci.yml
Due: none

add mutex for loading the scripts config to remove race condition
  src/bot.ts
  src/commands.ts
Due: eslint

eslint
  src/commands.ts
Due: eslint

update pipeline scripts repo for prod
  helm/values.yaml
Due: none

Update .gitignore
  .gitignore
Due: none

[ci] new runner for deploy
  .gitlab-ci.yml
Due: none

rm debug
  .gitlab-ci.yml
Due: none

[ci] remove environment
  .gitlab-ci.yml
Due: none

test staging manual + other way to log
  .gitlab-ci.yml
  package.json
  src/bot.ts
  yarn.lock
Due: eslint, prettier

simplify figuring out DB version in config
  src/config.ts
  src/db.ts
Due: eslint

try to remove precommit 😬
  Dockerfile
Due: none

Update commands.ts
  src/commands.ts
Due: eslint

lint
  src/config.ts
  src/db.ts
Due: eslint

test deploy
  .gitlab-ci.yml
Due: none

revert tests
  .gitlab-ci.yml
Due: none

followups by comments
  jest.unit.config.cjs
  nodemon.json
  package.json
  src/__mocks__/db.ts
  src/__snapshots__/gitlab.spec.ts.snap
  src/api.ts
  src/bot.spec.ts
  src/bot.ts
  src/commands.ts
  src/config.ts
  src/core.ts
  src/db.ts
  src/github.ts
  src/gitlab.spec.ts
  src/gitlab.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
  src/utils.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

update opstoolingjs
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

fix: pass scripts dev branch; stop showing trace in comments
  package.json
  src/bot.ts
  src/commands.ts
  test/github-positive-scenario.spec.ts
  yarn.lock
Due: eslint, prettier

remove pre-commit
  package.json
  yarn.lock
Due: prettier

fix dockerfile
  Dockerfile
Due: none

Mak/fixes cmd (#143)
  Dockerfile
  src/bot.ts
  src/commands.ts
  test/github-positive-scenario.spec.ts
Due: eslint
