Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

fix checking membership after some commands found
  src/bot/events/onIssueCommentCreated.ts
Due: eslint

move parsing skip event above
  src/bot/events/onIssueCommentCreated.ts
  src/bot/setupEvent.ts
  src/bot/types.ts
Due: eslint

fix check membership & skip events (#224)
  src/bot/events/onIssueCommentCreated.ts
  src/bot/setupEvent.ts
  src/bot/types.ts
Due: eslint

switch back to main
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

switch back to main (#225)
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

Update onIssueCommentCreated.ts
  src/bot/events/onIssueCommentCreated.ts
Due: eslint

Fix paths
  src/bot/events/handlers/cancelHandler.ts
  src/bot/events/handlers/cleanHandler.ts
  src/bot/events/handlers/genericHandler.ts
  src/bot/events/handlers/helpHandler.ts
  src/bot/events/handlers/skipHandler.ts
Due: eslint

move method to utils
  src/bot/parse/guessCommand.ts
  src/commander/commander.ts
  src/utils.ts
Due: eslint

bind getError to this
  src/bot/events/handlers/EventHandler.ts
  src/bot/events/handlers/cancelHandler.ts
  src/bot/events/handlers/genericHandler.ts
Due: eslint

add requester to comment object
  src/bot/events/handlers/EventHandler.ts
Due: eslint

split event handlers (#227)
  src/bot/events/handlers/EventHandler.ts
  src/bot/events/handlers/cancelHandler.ts
  src/bot/events/handlers/cleanHandler.ts
  src/bot/events/handlers/genericHandler.ts
  src/bot/events/handlers/helpHandler.ts
  src/bot/events/handlers/skipHandler.ts
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/guessCommand.ts
  src/bot/types.ts
  src/commander/commander.ts
  src/utils.ts
Due: eslint

ignore commands only for processbot supported repos
  src/bot.ts
  src/commander/commander.ts
  src/commander/parseCommand.ts
Due: eslint

move to env
  .env.example.cjs
  .env.unit-tests.cjs
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  src/bot.ts
  src/commander/commander.ts
  src/config.ts
  src/test/setup/bot.ts
Due: eslint

fix vars and tests
  .env.example.cjs
  .env.unit-tests.cjs
  src/test/setup/bot.ts
Due: eslint

ignore commands only for processbot supported repos (#229)
  .env.example.cjs
  .env.unit-tests.cjs
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  src/commander/commander.ts
  src/commander/parseCommand.ts
  src/config.ts
  src/test/setup/bot.ts
Due: eslint

rebase cmd
  README.md
  src/bot/events/handlers/EventHandler.ts
  src/bot/events/handlers/cleanHandler.ts
  src/bot/events/handlers/rebaseHandler.ts
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/ParsedCommand.ts
  src/commander/commander.ts
Due: eslint

fix links
  src/command-configs/help/parts/commands_preset.pug
  src/command-configs/help/parts/navigation.pug
Due: none

Update navigation.pug
  src/command-configs/help/parts/navigation.pug
Due: none

Mak fix docs (#232)
  src/command-configs/help/parts/commands_preset.pug
  src/command-configs/help/parts/navigation.pug
Due: none

Add argument & command validation in scope of repo
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/renderHelpPage.ts
  src/command-configs/utils.spec.ts
  src/command-configs/utils.ts
  src/commander/commander.ts
  src/test/github-non-pipeline-cases.spec.ts
  src/test/github-positive-scenario.spec.ts
Due: eslint

Update src/command-configs/utils.ts
  src/command-configs/utils.ts
Due: eslint

Update commander.ts
  src/commander/commander.ts
Due: eslint

Add argument & command validation in scope of repo (#234)
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/renderHelpPage.ts
  src/command-configs/utils.spec.ts
  src/command-configs/utils.ts
  src/commander/commander.ts
  src/test/github-non-pipeline-cases.spec.ts
  src/test/github-positive-scenario.spec.ts
Due: eslint

fix navigation links
  src/command-configs/help/parts/navigation.pug
  src/command-configs/help/parts/styles.pug
Due: none

fix navigation links (#236)
  src/command-configs/help/parts/navigation.pug
  src/command-configs/help/parts/styles.pug
Due: none

skaffold
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  helm/values-parity-dev.yaml.example
  nodemon.json
  package.json
  skaffold.yaml
  yarn.lock
Due: prettier

job created
  .dockerignore
  Dockerfile
  README.md
  helm/templates/job-role-setup.yaml
  helm/values.yaml
  skaffold.yaml
  src/bot/events/handlers/genericHandler.ts
  src/kubernetes/job.ts
Due: eslint

fix script and get logs
  helm/values.yaml
  src/bot/events/handlers/genericHandler.ts
  src/kubernetes/job.ts
Due: eslint

:facepalm: fix
  src/bot/events/handlers/cleanHandler.ts
Due: eslint

:facepalm: fix (#239)
  src/bot/events/handlers/cleanHandler.ts
Due: eslint

add merge/rebase response; fix crashing app on wrong argument in root
  package.json
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/commander/commander.ts
  src/test/github-ignore-comands.spec.ts
  src/test/github-non-pipeline-cases.spec.ts
  yarn.lock
Due: eslint, prettier

add merge/rebase response; fix crashing app on wrong argument in root (#240)
  package.json
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/commander/commander.ts
  src/test/github-ignore-comands.spec.ts
  src/test/github-non-pipeline-cases.spec.ts
  yarn.lock
Due: eslint, prettier

[ci] Fix buildah
  .gitlab-ci.yml
Due: none

Remove native (+SP) runtimes
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
Due: eslint

Fix tests
  src/bot/parse/guessCommand.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.namedArgs.spec.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
Due: eslint

fix lint
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
Due: eslint

support setting a timeout for a job
  src/api.ts
  src/bot/events/handlers/genericHandler.ts
  src/gitlab/createCiConfig.ts
  src/schema/schema.cmd.json
  src/task.ts
Due: eslint, prettier

increase re-try delay
  src/gitlab.ts
Due: eslint

increase delay also on pipeline creation
  src/gitlab.ts
Due: eslint

increase timeouts
  src/test/github-positive-scenario.spec.ts
  src/test/setup/integration.setupAfterEnv.ts
Due: eslint

Path conditions:
  eslint: any of: \.(t|j)s$
  prettier: any of: \.(html|json)$
