Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.(html|json)$
        args: ["--check"]

misc fixes
  src/main.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

Improvements related to the deployment (#43)
  .eslintrc.cjs
  .gitlab-ci.yml
  package.json
  src/db.ts
  src/executor.ts
  src/index.d.ts
  src/main.ts
  src/utils.ts
  src/webhook.ts
  tsconfig.lint.json
Due: eslint, prettier

tweak retry motive message
  src/executor.ts
Due: eslint

update the documentation
  README.md
  env/bot.example.cjs
  src/api.ts
Due: eslint

fix typo
  scripts/generateDockerfile
Due: none

clarify comment
  scripts/generateDockerfile
Due: none

update docs
  README.md
Due: none

clarify POST request
  README.md
Due: none

use the README structure of https://gitlab.parity.io/groups/parity/opstooling/-/wikis/Bots/Development/README-Structure
  README.md
Due: none

add missing requirement
  README.md
Due: none

fix typo
  README.md
Due: none

link to implementation section
  README.md
Due: none

fix nested blocks
  README.md
Due: none

adjust deployment section to conventional README structure
  README.md
Due: none

fix
  README.md
Due: none

Update docs (#47)
  README.md
Due: none

update to README structure
  README.md
Due: none

update README according to https://gitlab.parity.io/groups/parity/opstooling/-/wikis/Bots/Development/README-Structure
  README.md
Due: none

[close me] test pr
  README.md
Due: none

capture all streams of the main command to be ran
  src/executor.ts
  src/webhook.ts
Due: eslint

capture all streams of the main command to be ran (#50)
  src/executor.ts
  src/webhook.ts
Due: eslint

Update README.md
  README.md
Due: none

rework the code base
  .dockerignore
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .pre-commit-config.yaml
  README.md
  env.example.cjs
  loader.cjs
  package.json
  src/api.ts
  src/bot.ts
  src/core.ts
  src/db.ts
  src/executor.ts
  src/github.ts
  src/logger.ts
  src/main.ts
  src/setup.ts
  src/task.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
  tsconfig.json
  tsconfig.lint.json
  yarn.lock
Due: eslint, prettier

more rework
  src/api.ts
  src/bot.ts
  src/constants.ts
  src/core.ts
  src/db.ts
  src/executor.ts
  src/github.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
  src/utils.ts
Due: eslint

remove useless lint disable
  src/github.ts
  src/logger.ts
  src/shell.ts
Due: eslint

more cleanups
  src/bot.ts
  src/db.ts
  src/github.ts
  src/logger.ts
  src/task.ts
Due: eslint

move OS-related functions to shell module
  src/setup.ts
  src/shell.ts
  src/utils.ts
Due: eslint

better name
  src/api.ts
Due: eslint

avoid throw
  src/api.ts
Due: eslint

note about mutex.runExclusive
  README.md
Due: none

fix deprecated flag
  scripts/generateDockerfile
Due: none

Rework the code base (#52)
  .dockerignore
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .pre-commit-config.yaml
  README.md
  env.example.cjs
  loader.cjs
  package.json
  scripts/generateDockerfile
  src/api.ts
  src/bot.ts
  src/constants.ts
  src/core.ts
  src/db.ts
  src/executor.ts
  src/github.ts
  src/logger.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
  tsconfig.json
  tsconfig.lint.json
  yarn.lock
Due: eslint, prettier

minor adjustments
  src/bot.ts
  src/core.ts
Due: eslint

README
  README.md
Due: none

fix env vars parsing
  src/api.ts
  src/bot.ts
  src/core.ts
Due: eslint

Fix environment variables parsing (#53)
  README.md
  src/api.ts
  src/bot.ts
  src/core.ts
Due: eslint

avoid blocking the event handler
  src/bot.ts
Due: eslint

fix DATA_PATH
  env.example.cjs
Due: none

environment variables rework
  .gitlab-ci.yml
  env.example.cjs
  src/api.ts
  src/bot.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  src/types.ts
Due: eslint
