Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

initial commit
  .eslintrc.js
  .github/dependabot.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  LICENSE
  env/bot.example.js
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Due: eslint, prettier

try-runtime MVP
  .eslintrc.js
  .gitignore
  .prettierignore
  env/bot.example.js
  package-lock.json
  package.json
  src/constants.ts
  src/db.ts
  src/executor.ts
  src/github.ts
  src/index.d.ts
  src/main.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
  tsconfig.json
Due: eslint, prettier

docs
  README.md
Due: none

clean up dependencies
  package-lock.json
  package.json
Due: prettier

Update README.md
  README.md
Due: none

add Dockerfile
  Dockerfile
Due: none

enable RUST_LOG=remote-ext=debug by default
  src/constants.ts
  src/db.ts
  src/executor.ts
  src/github.ts
  src/main.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

helm chart added
  helm/.helmignore
  helm/Chart.yaml
  helm/README.md
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/deployment.yaml
  helm/templates/hpa.yaml
  helm/templates/ingress.yaml
  helm/templates/pvc.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/values.yaml
Due: none

fixing helm chart issues
  helm/README.md
  helm/values.yaml
Due: none

helm: change application port
  helm/templates/deployment.yaml
Due: none

Helm (#8)
  helm/README.md
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

move to yarn
  README.md
  package-lock.json
  yarn.lock
Due: prettier

fix ci
  .gitlab-ci.yml
Due: none

tweak deployment
  .gitlab-ci.yml
  Dockerfile
  helm/README.md
  helm/templates/_helpers.tpl
  helm/templates/deployment.yaml
  helm/values.yaml
  scripts/generateDockerfile
Due: none

decouple logging from probot
  src/executor.ts
  src/github.ts
  src/logger.ts
  src/main.ts
  src/types.ts
  src/webhook.ts
Due: eslint

convert example env file to Node.js LTS
  env/bot.example.js
Due: eslint

differentiate application logging on production environments
  .gitlab-ci.yml
  scripts/generateDockerfile
  src/logger.ts
  src/main.ts
Due: eslint

reformat files
  .gitlab-ci.yml
  README.md
  helm/templates/deployment.yaml
  src/executor.ts
Due: eslint

use 'prod' for NODE_ENV
  .gitlab-ci.yml
  src/logger.ts
Due: eslint

switch from NODE_ENV to APP_LOG_FORMAT
  .gitlab-ci.yml
  src/logger.ts
Due: eslint

AppVersion -> appVersion
  helm/templates/_helpers.tpl
  helm/templates/deployment.yaml
Due: none

appVersion -> AppVersion
  helm/templates/_helpers.tpl
Due: none

wip
  src/main.ts
Due: eslint

enable debug level for probot
  .gitlab-ci.yml
Due: none

set up env variables before invoking probot
  src/main.ts
Due: eslint

debug payload
  src/webhook.ts
Due: eslint

target /probot for readiness probe
  helm/templates/deployment.yaml
Due: none

disable livenessProbe
  helm/templates/deployment.yaml
Due: none

tweak CI
  .gitlab-ci.yml
Due: none

upgrade dependencies
  package.json
  src/github.ts
  src/logger.ts
  src/main.ts
  src/webhook.ts
  yarn.lock
Due: eslint, prettier

limit maxReplica
  helm/values.yaml
Due: none

redo liveness probe
  helm/templates/deployment.yaml
Due: none

validate nodeAddresses env upfront
  src/main.ts
Due: eslint

use probot /ping route
  helm/templates/deployment.yaml
Due: none

move non-probot env vars processing into the main function
  src/main.ts
Due: eslint

getSortedItems -> getSortedTasks
  src/db.ts
  src/executor.ts
  src/main.ts
  src/webhook.ts
Due: eslint

set probot log level
  .gitlab-ci.yml
Due: none

account for fatal errors in log
  src/executor.ts
  src/github.ts
  src/logger.ts
  src/webhook.ts
Due: eslint

Path conditions:
  eslint: any of: \.(t|j)s$
  prettier: any of: \.(html|json)$
