Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

apply threshold by line count instead content length
  src/utils.ts
Due: eslint

bump storage size again for taking polkadot into account as well as substrate
  helm/values.yaml
Due: none

add back args parsing
  .gitlab-ci.yml
  README.md
  src/api.ts
  src/main.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

adjust probot loggin after setup changes
  .gitlab-ci.yml
  src/main.ts
Due: eslint

update README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

simplify include patterns
  tsconfig.json
Due: prettier

Configure proper GitLab mirroring and enable CI on PRs
  .gitlab-ci.yml
Due: none

Apply tagging preference
  .gitlab-ci.yml
Due: none

Remove `$BUILD` rule for the `&on-tags` anchor
  .gitlab-ci.yml
Due: none

Configure proper GitLab mirroring and enable CI on PRs (#20)
  .gitlab-ci.yml
Due: none

simply check for exit code on compilation issues recovery
  src/executor.ts
Due: eslint

add globby
  package.json
  yarn.lock
Due: prettier

enhance disk cleanup recovery
  src/executor.ts
  src/utils.ts
Due: eslint

bubble up exceptions
  src/executor.ts
Due: eslint

better path comparison
  src/utils.ts
Due: eslint

comment
  src/executor.ts
Due: eslint

use tsconfig for node LTS
  tsconfig.json
Due: prettier

drop globby in favor of utility function
  package.json
  src/utils.ts
  yarn.lock
Due: eslint, prettier

prefer promisified cp.exec
  src/executor.ts
Due: eslint

quote expressions inside of string templates
  src/executor.ts
Due: eslint

add prettier-plugin-compactify
  package.json
  yarn.lock
Due: prettier

configure ts-prune
  package.json
  yarn.lock
Due: prettier

reformat for ts-prune
  src/executor.ts
  src/github.ts
  src/types.ts
  src/utils.ts
Due: eslint

update lockfile
  yarn.lock
Due: none

polish up linting
  .eslintrc.js
  .prettierignore
  package.json
  tsconfig.lint.json
Due: eslint, prettier

Create CODEOWNERS
  CODEOWNERS
Due: none

move execpath nearer to args
  src/webhook.ts
Due: eslint

`try-runtime` and it's related deps should be run and built in release mode as it's more realistic.
  src/webhook.ts
Due: eslint

Slightly nicer formatting
  src/executor.ts
  src/github.ts
  src/webhook.ts
Due: eslint

wip
  src/executor.ts
  src/main.ts
  src/utils.ts
Due: eslint

increasing the pvc size to 100G
  helm/values.yaml
Due: none

everything should be release mode, non-negotiable
  src/webhook.ts
Due: eslint

qualify LTS as 16 exactly
  scripts/generateDockerfile
Due: none

use Node.js LTS 16 in tsconfig.json
  tsconfig.json
Due: prettier

improve logging
  src/logger.ts
  src/main.ts
Due: eslint

upgrade octokit deps
  package.json
  src/executor.ts
  src/github.ts
  src/types.ts
  src/webhook.ts
  yarn.lock
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(t|j)s$
  prettier: any of: \.(html|json)$
