Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

be very precise on the image being used
  scripts/generateDockerfile
Due: none

refactor the setup for ES modules
  .eslintrc.cjs
  .gitignore
  README.md
  env/bot.example.cjs
  loader.cjs
  package.json
  scripts/generateDockerfile
  src/api.ts
  src/executor.ts
  src/webhook.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier

fix linting rules
  .eslintrc.cjs
  .pre-commit-config.yaml
  package.json
  tsconfig.lint.json
  yarn.lock
Due: prettier

fix dependencies
  package.json
  yarn.lock
Due: prettier

remove build_bot job
  .gitlab-ci.yml
Due: none

add back fix commands
  package.json
Due: prettier

remove lint job in favor of pre-commit
  .gitlab-ci.yml
Due: none

fix generateDockerFile
  scripts/generateDockerfile
Due: none

interpret all websocket prefixes as node addresses
  src/utils.ts
Due: eslint

have more fine-grained logging capabilities
  src/logger.ts
  src/webhook.ts
Due: eslint

avoid logging below the desired logging level
  src/logger.ts
  src/main.ts
Due: eslint

improve argument parsing
  src/utils.ts
Due: eslint

fix arg parsing
  src/utils.ts
Due: eslint

fix arg parsing (#39)
  src/utils.ts
Due: eslint

fix runtime build dependencies for C components
  scripts/generateDockerfile
Due: none

fix dockerfile generation
  scripts/generateDockerfile
Due: none

more arg parsing adjustments
  src/utils.ts
Due: eslint

prevent uri prefix from being added twice
  src/utils.ts
Due: eslint

fix
  src/utils.ts
Due: eslint

fix truncation message
  src/github.ts
Due: eslint

fix command formatting
  src/executor.ts
  src/github.ts
Due: eslint

improve command formatting
  src/github.ts
Due: eslint

Fix the build and remaining errors which appeared on polkadot#4772 (#41)
  scripts/generateDockerfile
  src/executor.ts
  src/github.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

fix comment
  src/webhook.ts
Due: eslint

shallow copy the base env
  src/utils.ts
Due: eslint

remove CODEOWNERS
  CODEOWNERS
Due: none

remove unused dependencies
  package.json
  yarn.lock
Due: prettier

fix typecheck entrypoint
  .pre-commit-config.yaml
Due: none

separate the environment's name from the version's tag
  .gitlab-ci.yml
Due: none

have stricter linter options
  .eslintrc.cjs
  tsconfig.lint.json
Due: prettier

use CARGO_TARGET_DIR for improving performance on multiple projects
  .gitlab-ci.yml
  src/executor.ts
  src/main.ts
  src/utils.ts
Due: eslint

add typecheck command
  package.json
Due: prettier

only clean CARGO_TARGET_DIR in the deployment
  src/executor.ts
Due: eslint

fix variable expansion
  .gitlab-ci.yml
Due: none

fix variable usage
  .gitlab-ci.yml
Due: none

fix tag format
  .gitlab-ci.yml
Due: none

fix eslint usage
  package.json
Due: prettier

collect env only from the start of the command
  src/utils.ts
Due: eslint

fix typechecking
  src/db.ts
  src/index.d.ts
Due: eslint

fix watch command
  package.json
Due: prettier

Path conditions:
  eslint: any of: \.(t|j)s$
  prettier: any of: \.(html|json)$
