Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.(html|json)$
        args: ["--check"]

test staging manual + other way to log
  .gitlab-ci.yml
  package.json
  src/bot.ts
  yarn.lock
Due: eslint, prettier

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

update opstoolingjs
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

groom logs
  .gitlab-ci.yml
  helm-stg/values-parity-stg.yaml
  src/bot.spec.ts
  src/bot.ts
  src/github.ts
  src/gitlab.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
Due: eslint

add debug level
  src/logger.ts
Due: eslint

More context to the logs + deploy to stage script
  deploy-stg.sh
  src/api.ts
  src/bot.ts
  src/commands.ts
  src/core.ts
  src/github.ts
  src/gitlab.ts
  src/logger.ts
  src/shell.ts
Due: eslint

Mak/logging (#144)
  .gitlab-ci.yml
  deploy-stg.sh
  helm-stg/values-parity-stg.yaml
  package.json
  src/api.ts
  src/bot.spec.ts
  src/bot.ts
  src/commands.ts
  src/core.ts
  src/github.ts
  src/gitlab.ts
  src/logger.ts
  src/main.ts
  src/setup.ts
  src/shell.ts
  src/task.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier

mostly moving files around + fix the sporadic job cancelling
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  package.json
  src/bot.ts
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parsePullRequestBotCommandLine.spec.ts
  src/bot/parsePullRequestBotCommandLine.ts
  src/bot/setupEvent.ts
  src/bot/types.ts
  src/commands.ts
  src/gitlab.ts
  src/gitlab/__snapshots__/createCiConfig.spec.ts.snap
  src/gitlab/createCiConfig.spec.ts
  src/gitlab/createCiConfig.ts
  src/task.ts
  test/github-job-cancellation.spec.ts
  test/github-job-failure.spec.ts
  test/github-positive-scenario.spec.ts
Due: eslint, prettier

Update src/gitlab/createCiConfig.ts
  src/gitlab/createCiConfig.ts
Due: eslint

Update createCiConfig.spec.ts.snap
  src/gitlab/__snapshots__/createCiConfig.spec.ts.snap
Due: none

mostly moving files around + fix the sporadic job cancelling (#147)
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  package.json
  src/bot.ts
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parsePullRequestBotCommandLine.spec.ts
  src/bot/parsePullRequestBotCommandLine.ts
  src/bot/setupEvent.ts
  src/bot/types.ts
  src/commands.ts
  src/gitlab.ts
  src/gitlab/__snapshots__/createCiConfig.spec.ts.snap
  src/gitlab/createCiConfig.spec.ts
  src/gitlab/createCiConfig.ts
  src/task.ts
  test/github-job-cancellation.spec.ts
  test/github-job-failure.spec.ts
  test/github-positive-scenario.spec.ts
Due: eslint, prettier

[ci] refactor production deployment
  .gitlab-ci.yml
  Dockerfile
  helm-stg/Chart.yaml
  helm-stg/values-parity-prod.yaml
  helm-stg/values.yaml
  helm/.gitignore
  helm/.helmignore
  helm/Chart.yaml
  helm/README.md
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/deployment.yaml
  helm/templates/hpa.yaml
  helm/templates/ingress.yaml
  helm/templates/pvc.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

fix codeowners
  CODEOWNERS
Due: none

apk add git
  .gitlab-ci.yml
Due: none

change ci image
  .gitlab-ci.yml
Due: none

fix dockerfile
  Dockerfile
Due: none

disable autoscaling explicitly
  helm/values.yaml
Due: none

fix PIPELINE_SCRIPTS_REPOSITORY
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

return tags
  .gitlab-ci.yml
Due: none

Excluding semver-major from dependabot
  .github/dependabot.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

Excluding semver-major from dependabot (#151)
  .github/dependabot.yml
Due: none

deprecate /cmd queue, add help template
  .env.example.cjs
  .env.unit-tests.cjs
  package.json
  src/bot.ts
  src/bot/ParsedCommand.ts
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parsePullRequestBotCommandLine.spec.ts
  src/bot/parsePullRequestBotCommandLine.ts
  src/bot/types.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/cloneCommandBotScripts.ts
  src/command-configs/collectCommandConfigs.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/command-configs/getScriptsRepoRevision.ts
  src/command-configs/renderHelpPage.pug
  src/command-configs/renderHelpPage.ts
  src/commands.ts
  src/config.ts
  src/gitlab/createCiConfig.spec.ts
  src/schema/schema.cmd.json
  test/fixtures.ts
  test/github-job-cancellation.spec.ts
  test/github-job-failure.spec.ts
  test/github-positive-scenario.spec.ts
  test/setup/bot.ts
  yarn.lock
Due: eslint, prettier

swap handlers
  src/bot/events/onIssueCommentCreated.ts
Due: eslint

add help command
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/ParsedCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/types.ts
Due: eslint

fix gitlab script
  src/gitlab/createCiConfig.ts
Due: eslint

fix more
  src/gitlab/createCiConfig.ts
Due: eslint

Mak/fix gitlab script (#153)
  src/gitlab/__snapshots__/createCiConfig.spec.ts.snap
  src/gitlab/createCiConfig.ts
Due: eslint

add help method, generate the html to static files
  .env.example.cjs
  .env.unit-tests.cjs
  .gitignore
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/ParsedCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/parse/parseVariables.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/collectCommandConfigs.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/command-configs/renderHelpPage.ts
  src/command-configs/types.ts
  src/config.ts
  src/setup.ts
  src/types.ts
  test/setup/bot.ts
Due: eslint

add docs link on cmd config error
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/command-configs/renderHelpPage.pug
  src/command-configs/renderHelpPage.ts
Due: eslint

fix tests
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
Due: eslint

PoC: parsing args with commander
  package.json
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/ParsedCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/bot/parse/parseVariables.ts
  src/command-configs/commander.ts
  src/core.ts
  yarn.lock
Due: eslint, prettier

add more integration tests
  .env.example.cjs
  .gitignore
  src/bot/setupEvent.ts
  test/fixtures.ts
  test/github-ignore-comands.spec.ts
  test/github-job-cancellation.spec.ts
  test/github-job-failure.spec.ts
  test/github-non-pipeline-cases.spec.ts
  test/github-positive-scenario.spec.ts
  test/setup/bot.ts
  test/setup/mockServers.ts
Due: eslint

add back temp ignore of /tests folder
  .gitignore
  test/github-ignore-comands.spec.ts
Due: eslint
