Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.(html|json)$
        args: ["--check"]

conform to crate naming convention
  src/executor.ts
Due: eslint

more than one crate might need to be cleaned, so keep trying until it works...
  src/executor.ts
  src/utils.ts
Due: eslint

fix example
  env/bot.example.js
Due: eslint

recurse with last retry attempt's motive
  src/executor.ts
Due: eslint

more consistent coding style
  .gitlab-ci.yml
  src/db.ts
  src/executor.ts
  src/github.ts
  src/main.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

clarify what the permissions are for
  README.md
Due: none

explicit === true check
  src/main.ts
Due: eslint

fix advertised pattern for production tags
  README.md
Due: none

decide before requeuing a command
  src/executor.ts
  src/main.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

update helm
  helm/values.yaml
Due: none

reference githubCommentCharacterLimit value
  src/constants.ts
Due: eslint

fix yarn commands
  .gitlab-ci.yml
Due: none

upgrade yarn.lock
  yarn.lock
Due: none

check if requeue has been made at all
  src/main.ts
Due: eslint

Update README.md
  README.md
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add libssl
  scripts/generateDockerfile
Due: none

add libudev-dev
  scripts/generateDockerfile
Due: none

add pkg-config
  scripts/generateDockerfile
Due: none

add newline for markdown code block
  src/utils.ts
Due: eslint

bump storage to 32G
  helm/values.yaml
Due: none

rococo node will be taken down
  .gitlab-ci.yml
  README.md
  env/bot.example.js
  src/main.ts
Due: eslint

add pre-commit's runtime dependencies
  scripts/generateDockerfile
Due: none

add matrix-bot and ajv
  package.json
  yarn.lock
Due: prettier

introduce ApiTask and API for triggering commands
  env/bot.example.js
  src/api.ts
  src/constants.ts
  src/db.ts
  src/executor.ts
  src/github.ts
  src/logger.ts
  src/main.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

add API variables to CI
  .gitlab-ci.yml
Due: none

update README.md
  README.md
Due: none

drop argument replacement in favor of /etc/hosts
  .gitlab-ci.yml
  README.md
  env/bot.example.js
  src/api.ts
  src/main.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

display command duration
  src/executor.ts
  src/main.ts
  src/types.ts
  src/utils.ts
Due: eslint

display output inline if size is small enough
  src/utils.ts
Due: eslint

use the proper variable for webhook secret
  src/main.ts
Due: eslint

warn about adding entries to the host file
  src/main.ts
Due: eslint

add back args parsing
  .gitlab-ci.yml
  README.md
  src/api.ts
  src/main.ts
  src/types.ts
  src/utils.ts
  src/webhook.ts
Due: eslint

fixup
  src/main.ts
Due: eslint

adjust probot loggin after setup changes
  .gitlab-ci.yml
  src/main.ts
Due: eslint

fixup
  .gitlab-ci.yml
  src/main.ts
Due: eslint
