Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  args:
  - --quiet

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  args:
  - --check

enhanced args validation making it optional per preset (#172)
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/isOptionalArgsCommand.spec.ts
  src/bot/parse/isOptionalArgsCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/test/github-non-pipeline-cases.spec.ts
Due: eslint

Codestyle update
  package.json
  yarn.lock
Due: prettier

#164 add symlink to master (latest); adjust tests
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/ParsedCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/command-configs/types.ts
  src/setup.ts
  src/test/github-non-pipeline-cases.spec.ts
Due: eslint

reduce hardcode of latest.html filename
  src/command-configs/fetchCommandsConfiguration.ts
  src/setup.ts
Due: eslint

Update github-non-pipeline-cases.spec.ts
  src/test/github-non-pipeline-cases.spec.ts
Due: eslint

Mak/164 symlink to latest (#175)
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/ParsedCommand.ts
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/bot/parse/parsePullRequestBotCommandLine.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/command-configs/fetchCommandsConfiguration.ts
  src/command-configs/types.ts
  src/setup.ts
  src/test/github-non-pipeline-cases.spec.ts
Due: eslint

wrap pipeline query into retriable
  src/gitlab.ts
  src/utils.spec.ts
  src/utils.ts
Due: eslint

wrap pipeline query into retriable (#176)
  src/gitlab.ts
  src/utils.spec.ts
  src/utils.ts
Due: eslint

fix json5 alert
  package.json
  src/api.ts
  yarn.lock
Due: eslint, prettier

Update dependabot.yml
  .github/dependabot.yml
Due: none

fix json5 alert (#178)
  package.json
  src/api.ts
  yarn.lock
Due: eslint, prettier

Update dependabot.yml (#180)
  .github/dependabot.yml
Due: none

Revert "Update dependabot.yml (#180)"
  .github/dependabot.yml
Due: none

Revert "Update dependabot.yml (#180)" (#182)
  .github/dependabot.yml
Due: none

cleaned up matrix & accessDb
  .env.example.cjs
  README.md
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  package.json
  src/api.ts
  src/config.ts
  src/db.ts
  src/setup.ts
  src/task.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier

update readme
  README.md
Due: none

cleaned up matrix & accessDb (#184)
  .env.example.cjs
  README.md
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  package.json
  src/api.ts
  src/config.ts
  src/db.ts
  src/setup.ts
  src/task.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier

add basic metrics + health endpoint
  helm/values.yaml
  package.json
  src/bot.ts
  src/bot/setupEvent.ts
  src/metrics.ts
  src/setup.ts
  yarn.lock
Due: eslint, prettier

fix counters name
  src/metrics.ts
Due: eslint

add comment to logs
  src/bot.ts
Due: eslint

Typo
  README.md
Due: none

Typo (#187)
  README.md
Due: none

add more data to summary
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/extractPullRequestData.ts
  src/bot/setupEvent.ts
  src/metrics.ts
Due: eslint

CommandBot prometheus metrics (#186)
  helm/values.yaml
  package.json
  src/bot.ts
  src/bot/events/onIssueCommentCreated.ts
  src/bot/parse/extractPullRequestData.ts
  src/bot/setupEvent.ts
  src/metrics.ts
  src/setup.ts
  yarn.lock
Due: eslint, prettier

add more fields to metrics + fix ports
  helm/values.yaml
  src/bot/setupEvent.ts
  src/metrics.ts
Due: eslint

Update metrics.ts
  src/metrics.ts
Due: eslint

add more fields to metrics + fix ports (#188)
  helm/values.yaml
  src/bot/setupEvent.ts
  src/metrics.ts
Due: eslint

Update values.yaml
  helm/values.yaml
Due: none

Mak fix ports (#189)
  helm/values.yaml
Due: none

[ci] Increase deploy timeout
  .gitlab-ci.yml
Due: none

a better way to form total metrics for commands
  src/bot/setupEvent.ts
  src/metrics.ts
Due: eslint

a better way to form total metrics for commands (#191)
  src/bot/setupEvent.ts
  src/metrics.ts
Due: eslint

Using common dependencies from npm
  .eslintrc.cjs
  .prettierrc.cjs
  package.json
  src/bot/events/onIssueCommentCreated.ts
  src/github.ts
  src/gitlab.ts
  src/logger.ts
  src/shell.ts
  src/test/github-ignore-comands.spec.ts
  src/test/github-job-cancellation.spec.ts
  src/test/github-job-failure.spec.ts
  src/test/github-non-pipeline-cases.spec.ts
  src/test/github-positive-scenario.spec.ts
  src/test/helpers.ts
  src/test/setup/bot.ts
  src/test/setup/gitDaemons.ts
  src/test/setup/integration.setupAfterEnv.ts
  src/test/setup/util.ts
  src/types.ts
  src/utils.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier

Using common dependencies from npm (#192)
  .eslintrc.cjs
  .prettierrc.cjs
  package.json
  src/bot/events/onIssueCommentCreated.ts
  src/github.ts
  src/gitlab.ts
  src/logger.ts
  src/shell.ts
  src/test/github-ignore-comands.spec.ts
  src/test/github-job-cancellation.spec.ts
  src/test/github-job-failure.spec.ts
  src/test/github-non-pipeline-cases.spec.ts
  src/test/github-positive-scenario.spec.ts
  src/test/helpers.ts
  src/test/setup/bot.ts
  src/test/setup/gitDaemons.ts
  src/test/setup/integration.setupAfterEnv.ts
  src/test/setup/util.ts
  src/types.ts
  src/utils.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier

[ci] Update buildah command and version
  .gitlab-ci.yml
Due: none

rm old latest.html & handle exception
  src/command-configs/fetchCommandsConfiguration.ts
Due: eslint

rm old latest.html & handle exception (#200)
  src/command-configs/fetchCommandsConfiguration.ts
Due: eslint

ci: move to new gcp gitlab runners
  src/bot/parse/parsePullRequestBotCommandLine.spec.ts
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
  src/core.ts
Due: eslint

Move vault secrets to another location
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
Due: none

Path conditions:
  eslint: any of: \.(t|j)s$
  prettier: any of: \.(html|json)$
