Repository paritytech/command-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        files: \.(t|j)s$
        args: ["--quiet"]
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: \.(html|json)$
        args: ["--check"]

timeouts
  src/test/github-job-failure.spec.ts
  src/test/github-positive-scenario.spec.ts
Due: eslint

support setting a timeout for a job (#245)
  src/api.ts
  src/bot/events/handlers/genericHandler.ts
  src/gitlab.ts
  src/gitlab/createCiConfig.ts
  src/schema/schema.cmd.json
  src/task.ts
  src/test/github-job-failure.spec.ts
  src/test/github-positive-scenario.spec.ts
  src/test/setup/integration.setupAfterEnv.ts
Due: eslint, prettier

Bump `ci-unified` to `1.73.0`
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  src/command-configs/help/parts/commands.pug
Due: none

Bump `ci-unified` to `1.73.0` (#247)
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  src/command-configs/help/parts/commands.pug
Due: none

Add collectives-westend and glutton-westend bench
  src/command-configs/__mocks__/fetchCommandsConfiguration.ts
Due: eslint

Adding gitspiegel-trigger workflow
  .github/workflows/gitspiegel-trigger.yml
Due: none

Update CI image for command bot
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Update CI image for command bot (#250)
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Adding gitspiegel-trigger workflow (#249)
  .github/workflows/gitspiegel-trigger.yml
Due: none

Fixing gitspiegel trigger workflow
  .github/workflows/gitspiegel-trigger.yml
Due: none

Fixing gitspiegel trigger workflow (#251)
  .github/workflows/gitspiegel-trigger.yml
Due: none

some intial stuff
  README.md
  package.json
  src/bot.ts
  src/bot/setupEvent.ts
  src/gitlab.ts
  src/setup.ts
  src/task.ts
  src/types.ts
  yarn.lock
Due: eslint, prettier

update CI image paritytech/ci-unified:bullseye-1.73.0-2023-11-01-v20231204
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
  src/command-configs/help/parts/commands.pug
Due: none

update CI image paritytech/ci-unified:bullseye-1.73.0-2023-11-01-v20231204 (#253)
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
  src/command-configs/help/parts/commands.pug
Due: none

Update rust image 1.74
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Update rust image 1.74 (#255)
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Bump `ci-unified` to `v20240103`
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
  src/command-configs/help/parts/commands.pug
Due: none

Bump `ci-unified` to `v20240103` (#259)
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
  src/command-configs/help/parts/commands.pug
Due: none

update vault auth
  .gitlab-ci.yml
Due: none

paritytech/ci-unified:bullseye-1.74.0-2023-11-01-v20240108
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
  src/command-configs/help/parts/commands.pug
Due: none

paritytech/ci-unified:bullseye-1.74.0-2023-11-01-v20240108 (#261)
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
  src/command-configs/help/parts/commands.pug
Due: none

`ci-unified` with Rust 1.75
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
  src/command-configs/help/parts/commands.pug
Due: none

`ci-unified` with Rust 1.75 (#264)
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
  src/command-configs/help/parts/commands.pug
Due: none

clean --all
  src/bot/events/handlers/cleanHandler.ts
  src/bot/parse/ParsedCommand.ts
  src/command-configs/help/parts/commands_preset.pug
  src/command-configs/help/parts/navigation.pug
  src/command-configs/renderHelpPage.ts
  src/commander/commander.ts
  src/github.ts
  src/schema/schema.cmd.json
Due: eslint, prettier

isOriginalComment
  src/github.ts
Due: eslint

works in all repos
  src/command-configs/help/parts/commands_preset.pug
  src/command-configs/renderHelpPage.ts
Due: eslint

clean --all (#265)
  src/bot/events/handlers/cleanHandler.ts
  src/bot/parse/ParsedCommand.ts
  src/command-configs/help/parts/commands_preset.pug
  src/command-configs/help/parts/navigation.pug
  src/command-configs/renderHelpPage.ts
  src/commander/commander.ts
  src/github.ts
  src/schema/schema.cmd.json
Due: eslint, prettier

Move deployment to argocd
  .gitlab-ci.yml
  helm/.gitignore
  helm/Chart.yaml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Move deployment to argocd (#266)
  .gitlab-ci.yml
  helm/.gitignore
  helm/Chart.yaml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Update docs for new ci-image
  src/command-configs/help/parts/commands.pug
Due: none

Update docs for new ci-image (#281)
  src/command-configs/help/parts/commands.pug
Due: none

Update bot.ts
  src/test/setup/bot.ts
Due: eslint

Update github-positive-scenario.spec.ts
  src/test/github-positive-scenario.spec.ts
Due: eslint

Fix integration tests (#282)
  src/test/github-positive-scenario.spec.ts
  src/test/setup/bot.ts
Due: eslint

Move charts to its application repos
  helm/Chart.yaml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Move charts to its application repos (#283)
  helm/Chart.yaml
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Use rust 1.81
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Update ci-unified
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none

Update ci-unified (#293)
  helm/values-parity-prod.yaml
  helm/values-parity-stg.yaml
  helm/values.yaml
Due: none
